@import "./common/commonstyl/commonstyl.css";
@import "./common/font/iconfont.css";
@import "./src/button.css";
@import "./src/checkbox.css";
@import "./src/datepicker.css";
@import "./src/dialog.css";
@import "./src/select.css";
@import "./src/loadingbar.css";
@import "./src/tree.css";
@import "./src/transfer.css";
@import "./src/swiper.css";
@import "./src/table.css";
@import "./src/icon.css";
@import "./src/skeleton.css";
@import "./src/switch.css";
@import "./src/pagination.css";
@import "./src/message.css";
