@b nt-button{
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-weight:400;
    border: none;
    border-radius: 4px;
    outline:none;
    @e icon{
        /* color:green; */
    }
    @m default{
        border: 1px solid;
        border-color: val(--base_border_color);
        color:#000;
        cursor: pointer;
        &:hover{
            border-color:var(--base_color);
            opacity: 0.8;
        }
    }
    @m primary{
        background-color: var(--base_color);
        cursor: pointer;
        &:hover{
            border-color:var(--base_color);
            opacity: 0.8;
        }
    }
    @m danger{
        background-color: #FF5722;
        cursor: pointer;
        &:hover{
            border-color:var(--base_color);
            opacity: 0.8;
        }
    }
    @m warn{
        background-color: #FFB802;
        cursor: pointer;
        &:hover{
            border-color:var(--base_color);
            opacity: 0.8;
        }
    }
    @m normal{
        height: 38px;
        padding: 0 18px;
        line-height: 38px;
        font-size: 14px;
    }
    @m large{
        height: 44px;
        padding: 0 18px;
        line-height: 44px;
        font-size: 14px;
    }
    @m small{
        height: 26px;
        padding: 0 4px;
        line-height: 24px;
    }
    @m long{
        width:100%;
    }
    @m disabled{
        opacity: 0.5;
        &:hover{
            border-color:var(--base_color);
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
  
}