@b nt-checkbox {
  display: inline-block;
  margin-right: 10px;
  user-select: none;
  cursor: pointer;
  @m disabled{
    opacity: 0.5;
    cursor:not-allowed;
  }
  @m border{
    padding: 6px 20px 0px 10px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #C0C4CC;
    box-sizing: border-box;
    line-height: normal;
    height: 36px;
    @m checked{
      border-color:var(--base_color);
    }
  }
  @e icon {
    margin-right: 4px;
    font-size: 14px;
    color: var(--base_color);
  }
  @e txt {
    /* line-height:1px; */
    font-size: 14px;
    letter-spacing: 1px;
    @m isChecked {
      color: var(--base_color);
    }
  }
  input {
    -webkit-appearance: none;
    outline: none;
  }
}
