@b nt-select{
    position: relative;
    /* display: inline-block; */
    font-size:14px;
    display: flex;
    align-items: center;
    i.tip{
        position: relative;
        right: 22px;
        color: #9aa1b1;
    }
    input,p{
        font-size:14px;
        width: 160px;
        min-height: 30px;
        margin-bottom: 3px;
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        line-height: 1;
        padding: 0 15px;
        transition: border-color .2s ;
        outline:none;
        cursor: pointer;
        &:focus{
            border-color:var(--base_color);
        }
    }
    @e ul{
        position: absolute;
        top: 35px;
        z-index: 9999;
        width: 200px;
        padding-left:0;
        padding-top: 6px;
        padding-bottom: 6px;
        margin: 5px 0;
        border: 1px solid #e4e7ed;
        border-radius: 4px;
        list-style:none;
        background-color: #fff;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        box-sizing: border-box;
        @e li{
            padding:5px 15px;
            color:#333;
            cursor: pointer;
            @m selected{
                color: var(--base_color);
                background-color: #efefef;
            }
        }
        &:before{
            display: block;
            content: '';
            width: 10px;
            transform: rotate(45deg);
            height: 10px;
            border: 1px solid #dcdfe6;
            position: absolute;
            left: 20%;
            top: -6px;
            background: #fff;
            border-bottom: 0;
            border-right: 0;
        }
    }
}

.itemblock{
    font-size: 12px;
    width: 90px;
    box-sizing: border-box;
    display: block;
    padding: 2px;
    padding-left: 4px;
    margin: 2px;
    line-height: 20px;
    background-color: #f1f1f1;
}