@b nt-swiper{
    width: 500px;
    height: 300px;
    border:1px solid red;
    overflow: hidden;
    @e wrapper{
        width: 10000px;
        height: 100%;
        transition:all .5s;
        @e slider{
            float: left;
            height: 100%;
            width: 500px;
            text-align:center;
            line-height:300px;
        }
    }
}

.translateXRight{
    /* transform: translateX(-500px); */
    
}