table{
    border-collapse: collapse;
    & thead th,tbody td{
        font-size: 13px;
        height: 38px;
        border: 1px solid #dfe6ec;
        padding: 6px 10px;
        box-sizing: border-box;
        text-align: center;
        background-clip: padding-box;
        background-color: #f5f5f7;
        white-space: nowrap !important
    }
    & tbody td{
        background-color: #fff;
    }
}

@b nt-table{
    position: relative;
    overflow: auto;
    @e scroll{
        min-height: 200px;
    }
    @e fixedleft{
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
    @e fixedright{
        position: absolute;
        right: 0;
        top: 0;
        overflow: hidden;
    }
}

.fix-shadow{
    box-shadow: #cccccc 1px 0px 7px;
}