@b nt-transfer {
  display: flex;
  width: 50%;
  height: 220px;
  @e arrowList {
    width: 40px;
    height: 100%;
    flex-direction: column;
    @e leftArrow,rightArrow {
      width: 28px;
      height: 28px;
      margin: 10px;
      font-size: 14px;
      background-color: var(--base_color);
      color: #ff0f;
      cursor: pointer;
    }
  }
}

@b nt-transper__frame {
  flex: 1;
  border: 1px solid;
  border-color: #515a6e;
  /* border-color:var(--base_color); */
  @e header {
    padding-left: 10px;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid;
    border-color: #515a6e;
    background-color: #fff;
  }
  @e body {
    padding-left: 10px;
    font-size: 12px;
    @e item {
      line-height: 20px;
      cursor: pointer;
      input {
        appearance: none;
      }
      .icon-nt-checkbox_checked {
        color: var(--base_color);
      }
      label {
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
.absoCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

.arrowDisable {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border: 1px solid #dcdee2;
  cursor: not-allowed;
}

input[type="checkbox"] {
  outline: none;
}

.disabled {
  opacity: 0.7;
}
