@b nt-tree{
    /* background-color: #333333; */
    @e div  ul{
        list-style: none;
        font-size: 14px;
        margin-left: 30px;
        color: #606266;
        & div{
            display: inline-block;
            cursor: pointer;
        }
        & div span{
            margin-left:10px;
        }
        & div span:hover{
            background-color: #e5eaf2;
        }
    }
}
.drag-start-node{
    background-color: #dcdfe6;
}
.drag-over-node {
    background-color: #cdd3dc;
}
.nt-tree i{
    color:var(--base_color);
}
.nt-tree li{
    margin: 10px 0;
}